body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top right, #7380cc, #d7c6ee);
    background-repeat: no-repeat;
    font-size: 18px;
}

.text-purple{
    font-weight: 300;
    color: #7c89d5;
}

.text-purpleLight{
    color: #ced0e0;
}

.text-purpleLight:hover{
    color: #7c89d5;
}

.func-sidebar > .nav-link.active {
    background-color: #a3abdb;
    color: #fff;
}

.func-sidebar > .nav-link.active:focus {
    background-color: #a3abdb;
}

.func-sidebar > button {
    color: #97a0d1;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    text-align: left;
}

.btn-hover > i:hover {
    color: #7c89d5;
}

.btn-hover-line:hover{
    color: #fff;
    background-color: #97a0d1;
    border-color: #97a0d1;
}

.shortcutLink {
    position: relative;
}

.AdsAnalyzelist > ul {
    align-content: center;
}

.AdsAnalyzelist > ul > li > button {
    color: #97a0d1;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    text-align: center;
    min-width: 10rem;
    max-width: 10rem;
    overflow-x: auto;
}

.AdsAnalyzelist > ul > li > .nav-link {
    margin-top: .7rem;
}

.AdsAnalyzelist > ul > li > .nav-link.active {
    color: #7380cc;
    background-color: #e5e6ee;
}

.AdsAnalyzelist > ul > li > .nav-link.active:focus {
    background-color: #e5e6ee;
}

#breadcrumb {
    display: inline-flex !important;
    justify-content: space-around;
    height: 2rem;
}

#breadcrumb > ol {
    margin-top: .2rem;
}

#breadcrumb > ol > li {
    padding-top: .25rem;
}

#breadcrumb > ol > li:nth-child(4) {
    position: absolute;
    padding-top: 0rem;
    right: 3%;
}

#breadcrumb > ol > li > a {
    margin-top: 0.5rem;
    color: #7380cc;
}

.DataContent > .tab-pane {
    position: absolute;
}

.DataContent > .tab-pane > div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 35vw;
    min-height: 25.3vw;
}