body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top right, #2c0e10, #77323a);
    background-repeat: no-repeat;
    font-size: 18px;
}

.nav-link:hover {
    color: #3f1d1d;
}

.text-darkRed {
    font-weight: 300;
    color: #801e26;
}

.text-darkRed:hover {
    color: #964c4c;
}

.text-red {
    color: #e0ced1;
}

.text-red:hover {
    color: #964c4c;
}

.func-sidebar > .nav-link.active {
    background-color: #c5c0c0;
    color: #fff;
}

.func-sidebar > .nav-link.active:focus {
    background-color: #c5c0c0;
}

.func-sidebar > button {
    color: #964c4c;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    text-align: left;
}

.func-sidebar > button:hover {
    color: #3f1d1d;
}

.func-sidebar > a {
    color: #964c4c;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    text-align: left;
}

.func-sidebar > a:hover {
    color: #3f1d1d;
}

.func-sidebar > a:focus {
    color: #3f1d1d;
}

.func-sidebar > a:active {
    color: #3f1d1d;
}

.btn-hover > i:hover {
    color: #964c4c;
}

.btn-hover-line:hover {
    color: #fff;
    background-color: #964c4c;
    border-color: #964c4c;
}

.shortcutLink {
    position: relative;
}

.AdsAnalyzelist > ul {
    align-content: center;
}

.AdsAnalyzelist > ul > li > button {
    color: #964c4c;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    text-align: center;
    min-width: 10rem;
    max-width: 10rem;
    overflow-x: auto;
}

.AdsAnalyzelist > ul > li > .nav-link {
    margin-top: .7rem;
}

.AdsAnalyzelist > ul > li > .nav-link.active {
    color: #964c4c;
    background-color: #eee5ec;
}

.AdsAnalyzelist > ul > li > .nav-link.active:focus {
    background-color: #eee5ec;
}

#breadcrumb {
    display: inline-flex !important;
    justify-content: space-around;
    height: 2rem;
}

#breadcrumb > ol {
    margin-top: .2rem;
}

#breadcrumb > ol > li {
    padding-top: .25rem;
}

#breadcrumb > ol > li:nth-child(4) {
    position: absolute;
    padding-top: 0rem;
    right: 3%;
}

#breadcrumb > ol > li > a {
    margin-top: 0.5rem;
    color: #964c4c;
}

.DataContent > .tab-pane {
    position: absolute;
}

.DataContent > .tab-pane > div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 35vw;
    min-height: 54.5vh;
    max-height: 54.5vh;
    overflow-y: hidden;
}
